<!DOCTYPE html> <!-- Sets the standards of code -->
<head>

    <title> Fuseit </title>

<link rel="stylesheet" href="style.css" />

</head>

<body>
<div id = "wrapper">

<table width="760px" border="1">
<tr>
<td colspan="2" style="background-color:#f3ede1;">
   <a href="http://www.westgrovehotel.com" target="_blank">   
    <img src="logo.jpg" align="right"> </a>
<h2> Competition Time </h2>
<p style="font-family:Lucida Grande;color:black;">
Please select continue to move onto the next stage of the competition.</p>
</td>
</tr>

<tr>

<td style="background-color:#f2eee3;height:600px;width:400px;text-align:top;">
    


    <div class="maintext">
       <!--    <p align="center">Welcome to the Westgroves competition. This is the first step of winner bla bla bla </p> -->
    </div>
    <div class ="frontimage">
     
    <img src="WG1.jpg" width="100%" height="100%">
    
        
        
    </div>


</td>
</tr>

<tr>
<td colspan="2" style="background-color:#f3ede1;text-align:center;">
westgrovehotel.com

<div class ="submitbutton" onClick="window.location='form.html'">
      <img src="continue2.jpg" align="right">

</div>

</td>

</tr>
</table>

</div>

</body>
</html>

    <!--

      
        <div id="indeximage">

        </div>
     
      

      <img src="WG1.jpg" alt="WestgroveHotel" align="center" width="600" height="400"> -->



<!--content-->
